<nav>
<div id="sm-wrapper">
	<ul id="sm" class="sm">
		<li class="rotatedText a"><a href="{{ site.baseurl }}/"><span class="bigCircle">&#9702;</span>Intro</a></li>
		<li class="rotatedText b"><a href="{{ site.baseurl }}{% post_url 2015-10-16-Plugins %}"><span class="bigCircle">&#9702;</span>Plug-Ins</a></li>
		<li class="rotatedText c"><a href="{{ site.baseurl }}{% post_url 2015-10-12-Designers %}"><span class="bigCircle">&#9702;</span>Design Revolution</a></li>
		<li class="rotatedText d"><a href="{{ site.baseurl }}{% post_url 2015-10-12-Usability %}"><span class="bigCircle">&#9702;</span>Usability Focus</a></li>
		<li class="rotatedText e"><a href="{{ site.baseurl }}{% post_url 2015-10-16-MobileQuotes %}"><span class="bigCircle">&#9702;</span>A Mobile Future</a></li>
		<li class="rotatedText f"><a href="{{ site.baseurl }}{% post_url 2015-10-16-FutureThatWasnt %}"><span class="bigCircle">&#9702;</span>The Future That Wasn't</a></li>
		<li class="rotatedText g"><a href="{{ site.baseurl }}{% post_url 2015-10-12-HTML5 %}"><span class="bigCircle">&#9702;</span>The State of Today</a></li>
		<li class="rotatedText h"><a href="{{ site.baseurl }}{% post_url 2015-10-17-FullCircle %}"><span class="bigCircle">&#9702;</span>Coming Full Circle</a></li>
	</ul>
</div>
<div id="mob-wrapper">
<p id="navButton"> - Sections - </p>
	<p id="navLinks"><a href="{{ site.baseurl }}/">Intro</a></br>
		<a href="{{ site.baseurl }}{% post_url 2015-10-16-Plugins %}">Plug-Ins</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-12-Designers %}">Design Revolution</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-12-Usability %}">Usability Focus</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-16-MobileQuotes %}">A Mobile Future</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-16-FutureThatWasnt %}">The Future That Wasn't</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-12-HTML5 %}">The State of Today</a><br/>
		<a href="{{ site.baseurl }}{% post_url 2015-10-17-FullCircle %}">Coming Full Circle</a><br/></p>
	</ul>
</div>
</nav>

