<nav>
		<p style="text-align: center">
			<a href="{{ site.baseurl }}/">Intro</a>*<a href="{{ site.baseurl }}{% post_url 2015-10-16-Plugins %}">Plug-Ins</a>
			*<a href="{{ site.baseurl }}{% post_url 2015-10-12-Designers %}">Design Revolution</a>*
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-Usability %}">Usability Focus</a>*
			<a href="{{ site.baseurl }}{% post_url 2015-10-16-MobileQuotes %}">A Mobile Future</a>*</p><p>
			<a href="{{ site.baseurl }}{% post_url 2015-10-16-FutureThatWasnt %}">The Future That Wasn't</a>*
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-HTML5 %}">The State of Today</a>*
			<a href="{{ site.baseurl }}{% post_url 2015-10-17-FullCircle %}">Coming Full Circle</a>*
			<a href="{{ site.baseurl }}{% post_url 2020-11-21-EndofDays %}">End of Days</a>
		</p>
</nav>

