---

---

<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title == nil %}
				{{ site.title }}
			{% else %}
				{{ page.title }}
			{% endif %}
	</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
</head>
<body>
	{% include header.html %}
	<section id="middle">
		<div id="container">
		<nav>
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-SkipIntro %}">Skip Intro</a>
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-Designers %}">Designers as Developers</a>
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-Usability %}">The Usability Revolution</a>
			<a href="{{ site.baseurl }}{% post_url 2015-10-12-HTML5 %}">HTML5 over Flash</a>
		</nav>
			<section id="content">
				{{ content }}
			</section>
		</div>
	</section>
	{% include footer.html %}
</body>
</html>
