---

---

<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title == nil %}
				{{ site.title }}
			{% else %}
				{{ page.title }}
			{% endif %}
	</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slidemenu.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/slidemenu.js"></script>
</head>
<body  onload="slideMenu.build('sm',200,10,10,10);">
	{% include header.html %}
	<section id="middle">
		<div id="container">
			{% include navigation.html %}
			<section id="content">
				{{ content }}
			</section>
		</div>
	</section>
	{% include footer.html %}
</body>
</html>
