---

---

<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title == nil %}
				{{ site.title }}
			{% else %}
				{{ page.title }}
			{% endif %}
	</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slidemenu.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/slidemenu.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	
	<script type="text/javascript">
	function slideIt(){
		var navIndex = 0;
		
		{% if page.navIndex != nil %}
			navIndex = {{ page.navIndex }};
		{% endif %}
		
		slideMenu.build('sm',200,10,10,10,10, navIndex);
		$('.rotatedText:first').trigger('mouseenter');
	}
	
	var eventFired = 0;
	
	$(window).load(function() {
		if ($(window).width() > 600) {
			slideIt();
		}
		
		$(window).on('resize', function() {
			if (!eventFired) {
			if ($(window).width() > 600) {
				slideIt();
			} 
		}
		});

		$('#navButton').click(function(){
			if($(this).text()[1] == '+'){
				$(this).text(' - Sections - ');
				$('#navLinks').show();
			} else {
				$(this).text(' + Sections + ');
				$('#navLinks').hide();
			}
		});
		
		$('#sm-wrapper').click(function(){
			var grab = $(this).find('li').not('.rotatedText').find('a').attr('href');
			console.log(grab);
			window.location = grab;
		});
	});
	</script>
	
	{% include header.html %}
	<section id="middle">
		<div id="container">
			{% include navigation.html %}
			<section id="content">
				{{ content }}
			</section>
		</div>
	</section>
	{% include footer.html %}
</body>
</html>
